body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    font-size: 16pt;
}
h1 {
    font-variant: small-caps;
    margin: 0;
}
h3 {
    margin: 0;
    font-style: italic;
}
blockquote {
    font-size: 120%;
    color: green;
    border-left: .2em solid green;
    padding-left: .5em;
}
img { max-height: 50vh; }
pre { margin: 0; }



