<table>
    <tbody>
        <tr>
            <th>Article ID</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Product Name</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Vendor Name</th>
            <td>{{ product.vendor }}</td>
        </tr>
        <tr>
            <th>Country of Origin</th>
            <td>{{ product.country }}</td>
        </tr>
        <tr>
            <th>Price per Item</th>
            <td>&euro; {{ product.price }}</td>
        </tr>
    </tbody>
</table>


