$font-stack: Verdana, Helvetics, sans-serif;
$primary-color: #333;
$nav-bg: dodgerblue;
$nav-fg: white;

body {
  font-family: $font-stack;
  color: $primary-color;
  margin: 0;
  padding: 0;
}

header {
  background-color: $nav-bg;
  color: $nav-fg;
  padding: 1em;
  display: flex;
  justify-content: space-between;

  span {
    display: inline-block;

    &:first-child {
      font-weight: bold;
    }

    &:last-child {
      font-variant: small-caps;

      a {
        color: $nav-fg;
        text-decoration: none;

        &:hover {
          color: darkorange;
          font-weight: bold;
        }
      }
    }
  }
}

main {
  padding: 1.5em;

  .center {
    text-align: center;
  }

  h1 {
    color: lighten($primary-color, 50%);
    background-color: darken($primary-color, 50%);
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  img {
    width: 100%;
  }
}
