doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Just a silly Pug demo
        link(rel="icon", href="favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="app.css")
        script(src="app.js", defer)
    body
        header
            span Silly Pug Demo
            span
                a#about(href="#") About...

        main
            h1.center Just a silly Pug demo
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deserunt dolore
                dolores earum labore laudantium possimus. Culpa delectus deserunt explicabo, fuga
                libero nihil quis saepe sunt. Ab aliquam aliquid aut autem blanditiis consequatur
                debitis dicta distinctio dolore eius eos error est excepturi expedita facere fugit
                incidunt inventore laboriosam molestiae nemo placeat provident quam quibusdam
                quidem quis, quod reiciendis repellendus repudiandae suscipit tenetur, totam unde
                veniam voluptate. Fugit odio perspiciatis quas veniam voluptatibus. Alias aperiam
                cupiditate est illo iste, itaque libero magnam nam nostrum odio odit omnis placeat
                praesentium quaerat, quibusdam sed sit voluptatibus! Accusamus dolore id porro quos
                sapiente, tenetur?

            p.center
                img(src="snoopy.png")

        footer
            img(src="veggie-store.jpg")
